.navButton {
  position: relative;
  padding: 10px;
}

.navButton:hover > svg {
  color: var(--c-theme);
}

.navButton.selected,
.navButton.selected > svg {
  color: var(--c-theme);
}

.notification {
  background-color: var(--c-theme);
  padding: 0 6px;
  height: 17px;
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 11px;
  border-radius: 17px;
  border: 1px solid var(--c-primary);
  color: var(--c-text-color);
}

.navButton > svg {
  font-size: 26px;
  color: var(--c-text-color);
}

.navButton > svg + * {
  margin: 0 15px 0 20px;
}
