.ProfileBox {
  padding: 10px;
  text-align: initial;
  margin-top: auto;
  padding-top: 30px;
}

.ProfileBox:hover {
  color: var(--c-text-color);
}

.textContainer {
  margin: 0 20px 0 10px;
}

.arrowIcon {
  margin-left: auto;
}

.slug {
  color: var(--c-gray);
}
